[Unit]
Description=WorkInTech Application Example
After=network.target

[Service]
Restart=always
User=ec2-user
Group=ec2-user
Environment=NODE_ENV=production
WorkingDirectory=/home/ec2-user/workintech-app
ExecStart=npm run start:prod

[Install]
WantedBy=multi-user.target